.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chart-container {
  height: 200px;
  flex: 0 0 50%;
  width: 50%;
}

.static-content-container {
  display: flex;
  border: 2px solid grey;
  padding: 10px;
  margin: 10px;
  overflow: auto;
}

.lbl-info {
  border: 1px solid grey;
  margin: 15px;
  float: left;
  width: 50%;
  text-align: center;
  font-weight: bold;
}

.lbl-output {
  border: 1px solid grey;
  float: left;
  margin: 15px;
  width: 50%;
  text-align: center;
}
