
<div class="container">
  <div class="item-container" *ngFor='let mote of moteInfos'>
    <h1 class="header"> {{ mote.name.value }} </h1>
    <div class="inner-container">
      <label class="lbl-info"> {{ mote.uptime.type }} </label>
      <label class="lbl-output" > {{ mote.uptime.value }} </label> <br>
    </div>
    <div class="inner-container">
      <label class="lbl-info"> {{ mote.definiteRoute.type }} </label>
      <label class="lbl-output" > {{ mote.definiteRoute.value }} </label> <br>
    </div>
    <div class="inner-container">
      <label class="lbl-info"> {{ mote.rssi.type }} </label>
      <label class="lbl-output" > {{ mote.rssi.value }} </label> <br>
    </div>
    <div class="inner-container">
      <label class="lbl-info"> {{ mote.prefAddress.type }} </label>
      <label class="lbl-output" > {{ mote.prefAddress.value }} </label> <br>
    </div>
    <div class="inner-container">
      <label class="lbl-info"> {{ mote.onChipTemp.type }} </label>
      <label class="lbl-output" > {{ mote.onChipTemp.value }} </label> <br>
    </div>
    <div class="inner-container">
      <label class="lbl-info"> {{ mote.vdd3.type }} </label>
      <label class="lbl-output" > {{ mote.vdd3.value }} </label> <br>
    </div>
    <div class="inner-container">
      <label class="lbl-list-info"> Calibration </label>
      <div class="list-container" *ngFor="let calib of mote.calibration">
        <label class="lbl-inner-info"> {{ calib.type }} </label>
        <label class="lbl-inner-output">  {{ calib.value }} </label>
      </div>
    </div>
  </div>
</div>
